<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusConnect Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/ionicons@6.0.0/dist/ionicons/ionicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="/">Chatbot</a></li>
                <li><a href="/history">Conversation History</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>

         <!-- Main Content -->
    <div class="main-content">
        <header style="display: flex; justify-content: space-between;">
            <div style="margin-left: 350px;">
                <img src="{{ url_for('static', filename='imgs/logopng.png') }}" alt="CampusConnect Logo" 
                style="width: 65px; height: 65px; vertical-align: middle; margin-right: 7px;">
           <h1 style="display: inline; vertical-align: middle">CampusConnect Bot</h1>
            </div>
           
            <div>
                <button id="admin-btn" style="background-color:#3498db;color: black; border: none; padding: 4px; border-radius: 20px ; width: 100px; height: 50px; margin-left: 2rem;">
                    Admin
                </button>
            </div>
            
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    </div>
</body>
</html>
